<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>

<body>
    <div>
        <main>
            <div th:switch="${teams}" class="container">
                <div>
                    <table class="table table-striped table-responsive-sm" >
                        <thead style="background-color: black; color: white;">
                        <tr>
                            <th colspan="5" style="text-align: center; font-size: 2em;">Teams
                                <a th:href="@{/teams/signup}" class="btn btn-primary btn-add-table">
                                    <i class="fa fa-user-plus" style="text-align: right;"></i>
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <thead style="background-color: #BF244E; color: white;">
                        <tr>
                            <th>#</th>
                            <th>Team Name</th>
                            <th>List Members</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${teams.empty}">
                            <td colspan="5" align="center">No teams found!</td>
                        </tr>

                        <tr th:each="team : ${teams}">
                            <td th:text="${team.id}"></td>
                            <td th:text="${team.name}"></td>
                            <td><a th:href="@{/members/list-members/{id}(id=${team.id})}" class="btn btn-primary"><i
                                    class="fa fa-list"></i></a></td>
                            <td><a th:href="@{/teams/edit/{id}(id=${team.id})}" class="btn btn-primary"><i
                                    class="fas fa-user-edit"></i></a></td>
                            <td><a th:href="@{/teams/delete/{id}(id=${team.id})}" class="btn btn-primary"><i
                                    class="fas fa-user-times"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</body>

</html>