<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" th:href="@{/reset.css}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
              integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/style.css}">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <link rel="icon" type="image/ico" th:href="@{/images/hunter-logo.png}" />
        <title>Genei Ryodan</title>
    </head>

    <body>
    <div style="text-align:center;">
        <header>
            <a th:href="@{/}"><img th:src="@{/images/hunter-logo.png}" alt=”Logo” width="10%" height="10%" /></a>

            <nav>
                <div class="dropdown">
                    <ul class="nav justify-content-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Teams</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/teams}"><i class="fa fa-list"
                                                                                aria-hidden="true"></i> List</a>
                                <a class="dropdown-item" th:href="@{/teams/signup}"><i class="fa fa-user-plus"
                                                                                       aria-hidden="true"></i> Add</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">Members</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" th:href="@{/members}"><i class="fa fa-list"
                                                                                  aria-hidden="true"></i> List</a>
                                <a class="dropdown-item" th:href="@{/members/signup}"><i class="fa fa-user-plus"
                                                                                         aria-hidden="true"></i> Add</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    </body>
</th:block>

</html>